<p id="notice"><%= notice %></p>

<h1 style="color:#cc3333;">
  <strong>Title:</strong>
  <%= @book.title %>
</h1>


<p>
  <%= image_tag(@book.url_image) %>
</p>

<hr/> 
<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @book.genre %>
</p>

<p>
  <strong>Available:</strong>
  <%= @book.available %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
