<div class="well">
<%= simple_form_for(@track, html: {:class => 'form-horizontal'} ) do |f| %> 

<%= f.input :title, label: false, input_html: {:class => 'form-control', placeholder: 'Title'} %> 
<br/> 

<%= f.input :track_link, label: false, input_html: {:class => 'form-control', placeholder: 'Track Link'} %> 
<br/> 

<%= f.association :artist, input_html: {:class => 'form-control'} %> 

<div style="text-align:center;">
<%= f.submit "Submit".html_safe, :class => 'btn btn-lg btn-danger' %> 
</div>
<%end %> 

</div>