<div style="padding-top: 100px;">

<h1>New Movie </h1>
<%= form_for @movie do |f| %>
<<<<<<< HEAD

<ul> Title: <%= f.text_field :title%> </ul>
<ul> Description: <%=f.text_field :description %> </ul>
<ul> Year Release: <%=f.text_field :year_released%> </ul>
<ul> <%= f.submit %> </ul>


=======
<ul> Title: <%= f.text_field :title %> </ul>
<ul> Description: <%= f.text_field :description %> </ul>
<ul> Year Release: <%= f.text_field :year_released %> </ul>

<ul> <%= f.submit %> </ul>

>>>>>>> d5b5c7d2525c81cda47238a8c63fd5ee5bb6bb0f
<% end %>

</div>
