<h1 style="color:#cc3333;"> <%= @movie.title %>  </h1>

<<<<<<< HEAD
<%= link_to "Movies Index", movies_path, class: 'btn btn-lg btn-success' %>

=======
<p> Description:
<ul> <%= @movie.description %> </ul></p>
<p> Year Released
<ul> <%= @movie.year_released%> </ul></p>

<%= link_to "Movies Index", movies_path, class: 'btn btn-lg btn-success' %>



>>>>>>> d5b5c7d2525c81cda47238a8c63fd5ee5bb6bb0f
