<p id="notice"><%= notice %></p>

  <h1> <%= @gallery.name %> </h1

<p>
  <strong>City:</strong>
  <%= @gallery.city %>
</p>

<%= link_to 'Edit', edit_gallery_path(@gallery) %> |
<%= link_to 'Back', galleries_path %>
