<%= form_for(@art) do |f| %>
  
  <% if @art.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@art.errors.count, "error") %> prohibited this ar from being saved:</h2>

      <ul>
      <% @art.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :available %><br>
    <%= f.text_field :available%>
  </div>

    <div class="field">
    <%= f.label :artist_id%><br>
    <%= f.text_field :artist_id%>
  </div>

  <div class="field">
    <%= f.label :gallery_id%><br>
    <%= f.text_field :gallery_id%>
  </div>
  <div class="field">
    <%= f.label :art_image%><br>
    <%= f.text_field :art_image%>
  </div>


  <div class="actions">
    <%= f.submit%>
  </div>


<%end %> 